body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',Arial, sans-serif;
}

.display-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenges {
  font-size: 4em;
}

th {
  padding-right: 0.5em;
  border-bottom: solid 1px;
}